{% extends 'standard.jinja' %}

{% block content %}
  <div class="pt-5">
    <div class="row pb-5">
      <div class="col-12">
        <div class="float-right">
          <select name="reference" allow-clear placeholder="Filter by reference..." class="form-control" id="id_reference" data-initial="{{ current_ref }}">
            <option value>---------</option>
            {% for ref in ref_choices %}
              <option value="{{ ref }}">{{ ref }}</option>
            {% endfor %}
          </select>
          <a class="btn btn-primary" data-method="POST" download href="{{ url('archive-export') }}?ref={{ current_ref }}">
            Export to CSV
          </a>
        </div>
      </div>
    </div>
    {{ display.render_stock_data(object_list) }}
  </div>
  <script>
    window.url = '{{ request.path }}'
  </script>
{% endblock %}
