<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="{{ static('favicon.ico') }}">

  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width">
  <meta name="description" content="A system for search stocks">
  <meta name="author" content="Tom Hamilton Stubber">

  <link rel="stylesheet" href="{{ static('css/libraries.css') }}">
  <link rel="stylesheet" href="{{ static('css/styles.css') }}">

  <body id="page-top" class="index">
    <div class="header">
      <div id="page-header">{% block nav %}{% endblock %}</div>
    </div>
    {% block body_content %}{% endblock %}
  </body>
  <footer>
    <form id="post-form" method="POST">{% csrf_token %}</form>
  </footer>
  {% block pre_extra_js %}
{#    <script src="{{ static('/js/typeahead.js') }}"></script>#}
{#    <script src="{{ static('/js/bloodhound.js') }}"></script>#}
  {% endblock %}
  <script src="{{ static('js/libraries.js') }}"></script>
  <script src="{{ static('js/main.js') }}"></script>
</html>
