<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="{{ static('favicon.ico') }}">

  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width">
  <meta name="description" content="A system for search stocks">
  <meta name="author" content="Tom Hamilton Stubber">
  <body id="page-top" class="index">
    <div id="page-header">{% block nav %}{% endblock %}</div>
    {% block content %}{% endblock %}
  </body>
  <footer>
    <form id="post-form" method="POST">{% csrf_token %}</form>
  </footer>
</html>
