{% extends 'base.jinja' %}

{% block body_content %}
  <div class="row">
    <div id="login-block" class="text-center">
      <div>
        <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          <div id="login-form">
            {{ form|bootstrap }}
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block nav %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Sorom</a>
  </nav>
{% endblock %}
