{% macro django_messages(messages) %}
  {% for message in messages %}
    <div class="alert
      {% if 'error' in message.tags %}
          alert-danger
      {% elif 'warn' in message.tags %}
          alert-warning
      {% elif 'info' in message.tags %}
          alert-info
      {% else %}
          alert-success
      {% endif %}
      {{ message.tags }}
    ">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">{{ _("Close") }}</span>
      </button>
      {% if 'safe' in message.tags %}
        {{ message|safe }}
      {% else %}
        {{ message }}
       {% endif %}
    </div>
  {% endfor %}
{% endmacro %}

{% macro render_stock_data(stock_datas) %}
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Reference</td>
        <td>Company</td>
        <td>Date</td>
        <td>High</td>
        <td>Low</td>
        <td>Quarter</td>
        <td>Quantity</td>
        <td>Gross Value</td>
      </tr>
    </thead>
    <tbody>
      {% if stock_datas %}
        {% set previous_ref = stock_datas[0].reference %}
        {% for sd in stock_datas %}
          {% if previous_ref != sd.reference %}
            <tr class="gap"><td colspan="8"></td></tr>
          {% endif %}
          {% set previous_ref = sd.reference %}
          <tr>
            <td>{{ sd.reference }}</td>
            <td>{{ sd.company }}</td>
            <td>{{ sd.date.strftime('%d/%m/%Y') }}</td>
            <td>{{ sd.format(sd.high|round(3)) }}</td>
            <td>{{ sd.format(sd.low|round(3)) }}</td>
            <td>{{ sd.format(sd.quarter|round(3)) }}</td>
            <td>{{ sd.quantity }}</td>
            <td>{{ sd.format(sd.gross_value|round(2)) }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr class="gap"><td colspan="8"><span class="text-muted">No searches yet</span></td></tr>
      {% endif %}
    </tbody>
  </table>
{% endmacro %}
