{% extends 'standard.jinja' %}

{% block content %}
  <div class="row justify-content-center pb-5 pt-5">
    <div class="col-md-12">
      <form method="post" class="form-inline" id="search-form" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <div class="form-group search">
          <input type="text" placeholder="Company" class=" form-control" required="" id="id_symbol_search">
        </div>
        {{ form.date }}
        {{ form.quantity | bootstrap }}
        {{ form.errors.as_text() }}

        {{ form.name }}
        {{ form.currency }}
        {{ form.symbol }}
        <button class="btn btn-primary col-2" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Company</td>
        <td>Date</td>
        <td>High</td>
        <td>Low</td>
        <td>Quarter</td>
        <td>Amount</td>
        <td>Gross Value</td>
      </tr>
    </thead>
    <tbody>
      {% for sd in stock_datas %}
        <tr>
          <td>{{ sd.company }}</td>
          <td>{{ sd.date.strftime('%d-%m-%Y') }}</td>
          <td>{{ sd.currency.symbol }}{{ sd.high|round(3) }}</td>
          <td>{{ sd.currency.symbol }}{{ sd.low|round(3) }}</td>
          <td>{{ sd.currency.symbol }}{{ sd.quarter|round(3) }}</td>
          <td>{{ sd.quantity }}</td>
          <td>{{ sd.currency.symbol }}{{ sd.gross_value|round(3) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
