{% extends 'standard.jinja' %}

{% block content %}
  <div class="row justify-content-center pb-5 pt-5">
    <div class="col-md-10">
      <form method="post" class="form-inline" id="search-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" placeholder="Company" name="symbol" class=" form-control" required="" id="id_symbol">
        </div>
        <div class="input-group date date-picker">
          <input type="text" placeholder="Date" name="date" data-type="date" data-format="DD/MM/YYYY" data-mindate="1900-01-01" data-sidebyside="" class=" form-control" required="" id="id_date" data-date="">
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
        <div class="form-group">
          <input type="number" placeholder="Quantity" name="quantity" min="1" class=" form-control" required="" id="id_quantity">
        </div>
        {{ form.name }}
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Company</td>
        <td>Date</td>
        <td>High</td>
        <td>Low</td>
        <td>Quarter</td>
        <td>Amount</td>
        <td>Gross Value</td>
      </tr>
    </thead>
    <tbody>
      {% for sd in stock_datas %}
        <tr>
          <td>{{ sd.company }}</td>
          <td>{{ sd.date }}</td>
          <td>{{ sd.high }}</td>
          <td>{{ sd.low }}</td>
          <td>{{ sd.quarter }}</td>
          <td>{{ sd.quantity }}</td>
          <td>{{ sd.gross_value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
