body {
  margin: 0;
}

$primary-color: lightblue;

.header {
  height: 50px;
  background: $primary-color;
}

$small: 768px;
$help-topic-color: $primary-color;


#search-form {
  text-align: center;
  .search {
    width: 300px;
  }
  .form-group, .input-group {
    margin: 0 10px;
  }
}

.twitter-typeahead {
  width: 100%;
  display: inline-block;
}

.tt-menu {
  text-align: left;
  background-color: white;
  color: #444;
  border: 2px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  width: calc(100% - 2px);
}

.tt-input {
  width: 100% !important;
}

.tt-suggestion {
  text-align: left;
  cursor: pointer;
  padding: 7px 20px;
  border-top: 1px solid #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (max-width: $small) {
    padding: 7px 10px;
    font-size: 13px;
  }
  &.tt-cursor, &:hover {
    color: #fff;
    background-color: $help-topic-color;
  }
  font-size: 16px;
  &:first-child {
    border-top: None
  }
  .small {
    color: #aaa;
  }
}

#no-results {
  padding: 7px 20px;
  font-size: 16px;
  width: 795px;
}

.tt-hint {
  display: none;
}

.tag {
  background-color: $help-topic-color;
  display: inline-block;
  padding: .25em .4em;
  font-size: 73%;
  font-weight: bold;
  color: white;
  border-radius: .25rem;
  @media (max-width: $small) {
    display: none;
  }
}

#spinner {
  display: none;
  position: relative;
  top: -20px;
  left: calc(100% - 30px);
  $size: 6px;
  width: ($size + $size / 3 * 2) * 2;
  height: $size;
  > div {
    width: $size;
    height: $size;
    margin: 0 $size / 3;
    background-color: $help-topic-color;
    border-radius: 50%;
    border: 0;
    display: inline-block;
    vertical-align: top;
  }
  transform-origin: center center;
  will-change: transform;
  animation: rotation 3s infinite ease;
}

#login-block {
  margin-top: 100px;
  width: 100%;
  > div {
    width: 30%;
    background-color: $primary-color;
    margin: 0 auto;
    padding: 20px 0 40px 0;
    border: 1px solid #007bff;
    border-radius: 4px;
    #login-form {
      display: inline-grid;
      width: 50%;
    }
  }
}

.datepicker {
  .day {
    border: none;
  }
  .table thead th {
    border: none;
  }
}
